.login-wrapper {
    display: block;
    background-color: lightgray;
    color: blue;
    width:35%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    left: 32%;
    height: 435px;
    margin-top: 2%;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    border-style: ridge;
    top: 10%;
    position: fixed;
}

#add-task-bar {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #4B11AD;
    /* margin-bottom: 2px; */
    /* padding-bottom: 5px; */
    padding-right: 20px;
    padding-left: 20px;
    z-index: 5;
    height: 135px;
    overflow: hidden;
}

#login-prompt {
    padding-top:0;
    margin-top:0;
}

#icon_prefix, #icon_password, #login-status {
    font-size: 30px;
}

#login-submit {
    height: 70px;
}